
<div class="container-sm p-5 bg-light justify-content-center ">
  <div class="mini-hero l-pad bottom" style="margin-top: 120px;">
    <header class="l-flex l-split l-hero-header">
      <h3> Trending Items</h3>
    </header>
    <div class="row row-cols-1 row-cols-md-4 text-center">
      <div class="card" style="width: 238px; height: 260px;">
        <div class="card-body">
          <img src={{img}} class="card-img-top" alt="..." style="height: 140px; width: 70x; margin-top: 20px;">
        </div>
        <div class="card-footer bg-transparent text-start">{{description}}</div>
        <div class="card-footer bg-transparent border-success text-end">US ${{price}}</div>
      </div>
    </div>
  </div>
</div>
