<div class="container position">
<form class="position" role="search" 
style="margin-top: 26px; ">
    <input class="form-control me-2" type="search" 
    placeholder="Search by creation name or designer" aria-label="Search">
  </form>

  <ul class="nav nav-tabs" style="margin-top: 15px;">
    <li class="staff-special nav-item ">
      <a class="nav-link" href="#">Staff Picks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Popular</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Vehicle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Space</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Mecha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Building</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Animal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Character</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Seasonal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Life</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Misc</a>
      </li>
  </ul>

  <div class="container-week"> 
    <a>THIS WEEK'S PICKS</a>
</div>

<app-cards-studio>loading...</app-cards-studio>
</div>