<div class="container-flex bg">

<app-jumbotron>loading...</app-jumbotron>


<!--This is temporary I need to make another class for these cards-->
<div class="container-sm p-5 bg justify-content-center ">
  <div class="mini-hero l-pad bottom">
    <header class="l-flex l-split l-hero-header">
      <h3> Browse LEGO Items
        <i class=" fas fa-long-arrow-alt-right"></i>
        <h5 class="pull-right text normal"></h5>
      </h3>
    </header>

    <div class="row row-cols-1 row-cols-md-4 text-center">
      <div class="col-md-3">
        <div class="card" style="width: 238px; height: 260px;">
          <div class="card-body">
            <h5 class="card-title">Sets</h5>
            <img src="https://static.bricklink.com/renovate/img/catalog-sets.png" class="card-img-top" alt="..."
              style="height: 150px; width: 122px; margin-top: 40px;">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 238px; height: 260px;">
          <div class="card-body">
            <h5 class="card-title">Parts</h5>
            <img src="https://static.bricklink.com/renovate/img/catalog-parts.png" class="card-img-top" alt="..."
              style="height: 104px; width: 182px; margin-top: 70px;">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 238px; height: 260px;">
          <div class="card-body">
            <h5 class="card-title">Minifigs</h5>
            <img src="https://static.bricklink.com/renovate/img/catalog-minifigs.png" class="card-img-top" alt="..."
              style="height: 150px; width: 174px; margin-top: 40px;">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 238px; height: 260px;">
          <div class="card-body">
            <h5 class="card-title">MOCs</h5>
            <img src="https://static.bricklink.com/renovate/img/catalog-mocs-bdp.png" class="card-img-top" alt="..."
              style="height: 150px; width: 108px; margin-top: 30px;">
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--This is temporary I need to make another class for these cards-->
  <div class="mini-hero l-pad bottom" style = "margin-top: 100px">
    <header class="l-flex l-split l-hero-header">
      <h3> Trending Items
        <i class=" fas fa-long-arrow-alt-right"></i>
        <h5 class="pull-right text normal"></h5>
      </h3>
    </header>




  <div class="row row-cols-1 row-cols-md-4 text-center">
    <form *ngFor="let item of products">
      <app-cards img={{item.img}} description={{item.description}} [price]='item.price'></app-cards>
    </form>
  </div>
</div>

