<div class = "container" style="margin-top: 43px">
    <div class = "row">
        <div class = "col-8">
            <form #postForm = "ngForm" (ngSubmit)="addProduct(postForm.value)">
                <div class = "input-group">
                    <span class = "input-group-text">Description</span>
                    <input type = "text"class="form-control" ngModel name = "description">
                </div>
                <div class = "input-group">
                    <span class = "input-group-text">Image Path</span>
                    <input type = "text"class="form-control" ngModel name = "img">
                </div>
                <div class = "input-group">
                    <span class = "input-group-text">price</span>
                    <input type = "text"class="form-control" ngModel name = "price">
                </div>

                <button class="btn btn-success" type="submit">
                    Add Product
                </button>
                
            </form>
        </div>
    </div>
</div>

