.jumbotron{
    width: 100%;
    background-color: #0A1E32;
    text-align: center;
    max-height: 202px;
}

.l-block {
    display: block;

    max-width: 265px;
}

.position {
    position: relative;
    max-width: 1050px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex; /* Set the container to use flexbox */
    flex-wrap: wrap; /* Allow the cards to wrap to a new row if needed */
    justify-content: space-between; /* Align the cards with space between them */
  }