<div class="col-md-3" >
<article class="card moc-card">
    <div class="moc-card-designer">
        <div class="moc-card__designer-profile">
            <div class="moc-card-designer-image">
                <img src="{{moc}}">
            </div>
        </div>
        <header class="header">{{username}}<div><a>{{creation}}creations</a></div>
        </header>
    </div>
    
    <img src="{{img}}" class="card-img-top" alt="...">
    
    <div class="card-body">
      <p class="card-text">{{description}}</p>
     
    </div>
</article>

</div>