<nav class="navbar navbar-expand-lg navbar-light justify-content-center my-custom-class">
    <div class="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav unordered">
            <li class="nav-item" style="margin-left: 40px">
                <a class="nav-link" href="#">Catalog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">View</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Price Guide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Color Guide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Inventories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Appears In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Relationships</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Download</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Add or change</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Credits</a>
              </li>
              <li class="nav-item"style="margin-right: 40px">
                <a class="nav-link" href="#">Stores</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  