<div class="container-fluid text-center">
  <nav class="navbar navbar-light bg-light justify-content-center" style="height: 60px">
    <header>

      <a class="navbar-brand" href="https://www.bricklink.com/v2/main.page">
        <img src="https://static.bricklink.com/renovate/img/bl_holiday_heart.svg" width="168" height="39" alt="">
      </a>

      <div class="input-group" class="d-inline-block align-top">
        <form class="d-flex" role="search">
          <span class="input-group-text" id="basic-addon1">All Items</span>
          <input type="text" class="form-control " aria-label="Username" style="width: 140px;">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </form>
      </div>

      <ul class="nav navbar-nav d-inline-block align-top" >

        <li class="nav-item" >
          <a routerLink="market">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
            <p>Market</p>
          </button>
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <a routerLink="studio">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round bg-danger">
              <img src="https://static2.bricklink.com/img/nav/nav-studio.svg" style="width:18px;">
            </div>
            <p>Studio</p>
          </button>
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <a routerLink="programs">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round bg-dark">
              <img src="https://static2.bricklink.com/img/nav/nav-bdp.svg" style="width:18px;">
            </div>
            <p>Programs</p>
          </button>
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <a routerLink="community">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round bg-warning">
              <img src="https://static2.bricklink.com/img/nav/nav-community.svg" style="width:18px;">
            </div>
            <p>Community</p>
          </button>
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <a routerLink="myStore">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round ">
              <img src="https://static.bricklink.com/clone/img/store-default-image.png" style="width:26px;">
            </div>
            <p>Store</p>
          </button>
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <a routerLink="myBL">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round ">
              <img src="https:////profile.bricklink.com/Images/Faces_30/head.gif" style="width:26px;">
            </div>
            <p>My BL</p>
          </button>
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <a routerLink="want">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round ">
              <img src="https://static2.bricklink.com/img/nav/nav-wanted.svg" style="width:26px;">
            </div>
            <p>Want</p>
          </button>
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <a routerLink="cart">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px; height: 40px;">
            <div class="nav-icon round ">
              <img src="https://static2.bricklink.com/img/nav/nav-cart.svg" style="width:26px;">
            </div>
            <p>Cart</p>
          </button>
        </a>
        </li>
      </ul>

      



    </header>
  </nav>
</div>