<div class="container-fluid text-center">
  <nav class="navbar navbar-light bg-light justify-content-center" style="height: 60px">
    <header>

      <a class="navbar-brand" href="https://www.bricklink.com/v2/main.page">
        <img src="https://static.bricklink.com/renovate/img/bl_holiday_heart.svg" width="168" height="39" alt="">
      </a>

      <div class="input-group" class="d-inline-block align-top">
        <form class="d-flex" role="search">
          <span class="input-group-text" id="basic-addon1">All Items</span>
          <input type="text" class="form-control " aria-label="Username" style="width: 140px;">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </form>
      </div>

      <ul class="nav navbar-nav d-inline-block align-top" style="height: 60px">

        <li class="nav-item" style="height: 40px;">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav d-inline-block align-top">
        <li class="nav-item">
          <button class="nav-link border border-0 bg-light" style="width: 70px; padding-left: 10px;">
            <div class="nav-icon round bg-success">
              <img src="https://static2.bricklink.com/img/nav/nav-market.svg" style="width:18px;">
            </div>
          </button>
        </li>
      </ul>
        

      



    </header>
  </nav>
</div>