<nav class="navbar navbar-expand-lg navbar-light justify-content-center my-custom-class">
    <div class="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav unordered">
            <li class="nav-item" style="margin-left: 40px">
                <a class="nav-link" href="#">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My Studio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Download</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Studio Forum</a>
              </li>
              <li class="nav-item"style="margin-right: 700px">
                <a class="nav-link" href="#">Studio Help</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  